* { margin:0; padding:0; }

body {
    background: #fff;
    font: normal 13px/1.5 "Helvetica", sans-serif;
    color: #777;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    margin-bottom:50px;
}

b {
    color: #000;
}

.section {
    margin-left:225px;
}

.firstsection {
}

h1 {
    color: #000;
    text-transform: uppercase;
    font: normal 18px/1.0 "Helvetica", sans-serif;
    margin-top:40px;
}

h2 {
    font: normal 11px/1.5 "Helvetica", sans-serif;
    margin-bottom: 30px;
}

h2 a {
    font-weight:normal;
    color: #000;
}

.topquote {
    margin-left: 0;
    color: #b6493a;
    font-style:normal;
    margin-bottom: 8px;
}

p {
    margin-bottom:10px;
}

h3 {
    font: normal 15px/1.0 "Helvetica", sans-serif;
    color: #aaa;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top:30px;
    text-transform: uppercase;
}

.datespan {
    font: normal 11px/1.0 "Helvetica", sans-serif;
    color: #aaa;
    margin-bottom:2px;
    margin-top:30px;
}

.lead {
    color: #b6493a;
    font-weight:bold;
}

a {
    color: #000;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    text-decoration:underline;
}

.beforelist {
    margin-bottom:0px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left:20px;
    margin-bottom:12px;
}

li {
    list-style-type: none;
}

img {
    display:block;
    position:absolute;
    left:0;
    width:225px;
    margin-top:5px;
}

